[include mainsail.cfg]
[include sensorless.cfg]

[mcu]
serial: # Define your MCU serial
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000
max_z_velocity: 100
max_z_accel: 3000
square_corner_velocity: 5.0

[temperature_sensor M8P]
sensor_type: temperature_mcu

[temperature_sensor CM4]
sensor_type: temperature_host

#####################################################################
#	X/Y Steppers - M1 and M2
#
#		Multiply the peak current by 0.707 to determine the maximum
#		current in RMS. This is the maximum run current. (Typically
#		round down to the nearest .1)
#####################################################################

# M1
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -12
position_endstop: 132
position_max: 132
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC10
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PF3
driver_SGTHRS: 255 															<-!-!-!- Tune sensorless homing

# M2
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -2
position_endstop: 125
position_max: 125
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PF13
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PF4
driver_SGTHRS: 255 															<-!-!-!- Tune sensorless homing

#####################################################################
#	Z Steppers - M3, M4 and M5
#
#		Multiply the peak current by 0.707 to determine the maximum
#		current in RMS. This is the maximum run current. (Typically
#		round down to the nearest .1)
#####################################################################

## Front Left - M3
[stepper_z]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance: 40
microsteps: 32
endstop_pin: # PF5 / probe:z_virtual_endstop 								<-!-!-!- Define your Z endstop pen or use the probe for boop
position_max: 120
position_min: -4
homing_speed: 8
second_homing_speed: 8
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: true
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Rear Center - M4
[stepper_z1]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD5
rotation_distance: 40
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: true
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Front Right - M5
[stepper_z2]
step_pin: PC9
dir_pin: PC8
enable_pin: !PD1
rotation_distance: 40
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: true
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#	Extruder - M7
#
#		Multiply the peak current by 0.707 to determine the maximum
#		current in RMS. This is the maximum run current. (Typically
#		round down to the nearest .1)
#####################################################################

[extruder]
step_pin: PD12
dir_pin: !PD11
enable_pin: !PD14
rotation_distance: 22.650 													<-!-!-!- Calibrate rotation distance
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
filament_diameter: 1.75
heater_pin: PB6
sensor_pin: PA1
#sensor_type: 																<-!-!-!- Define your temperature sensor
max_extrude_only_distance: 100.0
max_temp: 295
min_extrude_temp: 150
min_temp: 0
nozzle_diameter: 0.400
control: pid																<-!-!-!- Run a PID tune
pid_kp: 22.331
pid_ki: 2.481
pid_kd: 50.246
pressure_advance: 0															<-!-!-!- Tune pressure advance
pressure_advance_smooth_time: 0.020

[tmc2209 extruder]
uart_pin: PD13
interpolate: false
run_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PE1
sensor_type: 
sensor_pin: PA0
min_temp: 0
max_temp: 120
control: pid																<-!-!-!- Run a PID tune
pid_kp: 53.713
pid_ki: 1.312
pid_kd: 549.883

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^PF6
#x_offset: 0																<-!-!-!- Set to the position x of your probe relative to the nozzle
#y_offset: 0																<-!-!-!- Set to the position y of your probe relative to the nozzle
#z_offset: 0																<-!-!-!- Set to the position z of your probe relative to the nozzle
speed: 8
samples: 3
samples_result: median
sample_retract_dist: 5
samples_tolerance: 0.01
samples_tolerance_retries: 3
#																			<-!-!-!- Uncomment below if you are using Boop
#activate_gcode:
#    {% set PROBE_TEMP = printer.configfile.settings.extruder.min_extrude_temp %}
#    {% set MAX_TEMP = PROBE_TEMP + 5 %}
#    {% set ACTUAL_TEMP = printer.extruder.temperature %}
#    {% set TARGET_TEMP = printer.extruder.target %}
#
#    {% if TARGET_TEMP > PROBE_TEMP %}
#        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#        M109 S{ PROBE_TEMP }
#    {% else %}
#        # Temperature target is already low enough, but nozzle may still be too hot.
#        {% if ACTUAL_TEMP > MAX_TEMP %}
#            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#        {% endif %}
#    {% endif %}

#####################################################################
# 	Fan Control
#####################################################################

[multi_pin electronics_cooling]
pins: PE4, PB8

[fan]
pin: PE0
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: PE6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan controller_fan]
pin: multi_pin:electronics_cooling
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
fan_speed: 0.5

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[bed_mesh]
speed: 200
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 110,110
probe_count: 3,3
relative_reference_index: 4
algorithm: lagrange

[homing_override]
axes: xyz
gcode:
	{% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

#	{% if home_all or 'X' in params %}
#		_HOME_X
#	{% endif %}
	
#	{% if home_all or 'Y' in params %}
#		_HOME_Y
#	{% endif %}
	
#	{% if home_all or 'Z' in params %}
#		G90
#		G0 X60 Y60 F15000													<-!-!-!- Set to the position of your Z endstop
#		G28 Z
#		G1 Z10
#	{% endif %}
	
[z_tilt]
z_positions:
    -22.6, -16.4
    60, 151.3
    142.6, -16.4
points:
    10, 10
    60, 110
    110, 10
speed: 200
horizontal_move_z: 5
retries: 4
retry_tolerance: 0.0075

#####################################################################
# 	Macros
#####################################################################

[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400																	# wait for buffer to clear
    G92 E0																	# zero the extruder
    G1 E-5.0 F1800															# retract filament
    TURN_OFF_HEATERS														# Turn off bed, extruder, and fan
    G90																		# absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000									# move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F3600				# park nozzle at rear
    M107																	# turn off fan
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    BED_MESH_CLEAR															# Clear the bed mesh
    M84																		# Disable steppers

[gcode_macro PRINT_START]
gcode:
	{% set th = printer.toolhead %}
	{% set bed_x = th.axis_minimum.x + th.axis_maximum.x %}
	{% set bed_y = th.axis_minimum.y + th.axis_maximum.y %}
	{% set purge_e = bed_x / 6 %}
	{% set purge_x = bed_x * 0.75 %}
	{% set purge_y = 5 %}
	{% set center_x = bed_x / 2 %}
	{% set center_y = bed_y / 2 %}

	{% set BED = params.BED|default(60)|float %}
	{% set CHAMBER = params.CHAMBER|default(0)|float %}
	{% set HOTEND = params.HOTEND|default(205)|float %}

	G90
    M140 S{BED}																# Set bed to temperature
    M109 S{printer.configfile.settings.extruder.min_extrude_temp}			# Set hotend to temperature
	G28
	G0 X{center_x} Y{center_y} Z30 F3600
	M190 S{BED}
	#TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER}
	
	Z_TILT_ADJUST
	BED_MESH_CALIBRATE

    G1 X{center_x - purge_x / 2} Y{purge_y} Z5.0 F5000						# Move to start position
    M109 S{HOTEND}															# Wait for hotend temperature
    G92 E0																	# Reset extruder
    G1 X{center_x - purge_x / 2} Y{purge_y} Z0.3 F5000						# Move to start for purge line
    G1 X{center_x + purge_x / 2} Y{purge_y} Z0.3 F1500 E{purge_e / 2}		# Draw line
    G1 X{center_x + purge_x / 2} Y{purge_y + 0.3} Z0.3 F5000				# Move to start for purge line
    G1 X{center_x - purge_x / 2} Y{purge_y + 0.3} Z0.3 F1500 E{purge_e}		# Draw line
    G92 E0																	# Reset extruder
    G1 Z5 F20000															# Move nozzle to remove stringing
