[mcu ebb36]
canbus_uuid: # your canbus uuid

[adxl345]
cs_pin: ebb36:PB12
spi_software_sclk_pin: ebb36:PB10
spi_software_mosi_pin: ebb36:PB11
spi_software_miso_pin: ebb36:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 
  	60, 60, 20

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

#####################################################################
# 	Endstops
#
# endstop_pin: ebb36:PB7
# endstop_pin: ebb36:PB6
# endstop_pin: ebb36:PB5
#
#####################################################################

#####################################################################
# 	I2C
#
# ebb36:PB4
# ebb36:PB3
#
#####################################################################

#####################################################################
#	Extruder
#
#####################################################################

[extruder]
step_pin: ebb36:PD0
dir_pin: !ebb36:PD1
enable_pin: !ebb36:PD2
rotation_distance: 22.650 # Calibrate rotation distance
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
filament_diameter: 1.75
nozzle_diameter: 0.400
heater_pin: ebb36:PB13
sensor_type: PT1000
sensor_pin: ebb36:PA3
# delete sensor_type and sensor_pin above then uncomment below to use the MAX31865 chip for a PT1000 or PT100
#sensor_type: MAX31865 
#sensor_pin: ebb36:PA4
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2
max_temp: 290
min_extrude_temp: 150
min_temp: 0
control: pid # PID tune
pid_kp: 21.625
pid_ki: 1.975
pid_kd: 59.200
max_extrude_only_distance: 100.0
pressure_advance: 0 # calibrate pressure advance
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: ebb36:PA15
interpolate: false
run_current: 0.3 # set an appropriate current
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Fan and Lighting Control
#
# pin: ebb36:PD3 #5V RGB Header
#
#####################################################################

[fan]
pin: ebb36:PA0
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: ebb36:PA1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^ebb36:PB9
#pin: ^ebb36:PB8
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 8
samples: 3
samples_result: median
sample_retract_dist: 5
samples_tolerance: 0.01
samples_tolerance_retries: 3
#					<-!-!-!- Uncomment below if you are using Boop
#activate_gcode:
#    {% set PROBE_TEMP = printer.configfile.settings.extruder.min_extrude_temp %}
#    {% set MAX_TEMP = PROBE_TEMP + 5 %}
#    {% set ACTUAL_TEMP = printer.extruder.temperature %}
#    {% set TARGET_TEMP = printer.extruder.target %}
#
#    {% if TARGET_TEMP > PROBE_TEMP %}
#        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#        M109 S{ PROBE_TEMP }
#    {% else %}
#        # Temperature target is already low enough, but nozzle may still be too hot.
#        {% if ACTUAL_TEMP > MAX_TEMP %}
#            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#        {% endif %}
#    {% endif %}